reddit:
  client:
    clientId: myRedditAppId
    clientSecret: myRedditAppSecret
    accessTokenUri: https://www.reddit.com/api/v1/access_token
    userAuthorizationUri: https://www.reddit.com/api/v1/authorize
    scope: identity
    clientAuthenticationScheme: header
    preEstablishedRedirectUri: myRedirectUri
    useCurrentUri: false
  resource:
    userInfoUri: https://oauth.reddit.com/api/v1/me