package ssc_flairbot;

//Riot API: https://developer.riotgames.com/
//Reddit API: https://www.reddit.com/dev/api/

public class SecretFile {
    public static final String RIOT_API_KEY = "riot api key";
    public static final String TOURNAMENT_API_KEY = "(optional) riot tournament api key";
    public static final String SUBREDDIT = "subreddit name";
    public static final String REDDIT_REFRESH_TOKEN = "reddit refresh token key";
    public static final String REDDIT_MOD_CLIENT_ID = "reddit flair mod client id";
    public static final String REDDIT_MOD_CLIENT_SECRET = "reddit flair mod client secret";
}