package ssc_flairbot;

//Riot API: https://developer.riotgames.com/
//Reddit API Authorization: https://github.com/reddit-archive/reddit/wiki/OAuth2
//Alternative way of getting refresh token: https://not-an-aardvark.github.io/reddit-oauth-helper/

public class SecretFile {
    public static final String RIOT_API_KEY = "riot api key";
    public static final String SUBREDDIT = "subreddit name";
    public static final String REDDIT_REFRESH_TOKEN = "reddit refresh token key";
    public static final String REDDIT_MOD_CLIENT_ID = "reddit flair mod client id";
    public static final String REDDIT_MOD_CLIENT_SECRET = "reddit flair mod client secret";
}