@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

html,body{
    background: black;
    /*background-image: url('/images/background12.jpg');*/
    background-image: url('https://i.imgur.com/AJ97dVv.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

.container{
    height: 100%;
    align-content: center;
}

.card{
    min-height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
    background-color: rgba(0,0,0,0.5) !important;
}
.card-body{
    padding: 20px;
}

.card-body p{
    margin-top: 30px;
    color: white;
}

.card-body h3{
    color: white;
}

.btn_container{
}

.form-group {
    margin-top: 50px;
    margin-bottom: 0px;
}

.login_btn, .logout_btn, .goback_btn{
    margin: 5px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
}

.logout_btn{
    color: black;
    background-color: #eb4634;
}

.goback_btn{
    color: black;
    background-color: #FFC312;
}

.login_btn:hover, .logout_btn:hover, .goback_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}