<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <title>Flairbot Alpha</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="/css/noty.css"/>
    <link rel="stylesheet" type="text/css" href="/css/themes/sunset.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- 2 hours wasted to learn that the order of js imports are important :) -->
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <!-- popper is important for bootstrap -->
    <script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="/js/noty.js"></script>
    <script src="/js/main.js"></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<!-- Containers -->
<div id="container" class="d-flex flex-column">
    <!-- Header bar -->
    <div id="headerBar" class="d-flex shadow p-2 px-md-4 mb-3 align-items-center">
        <a class="navbar-brand" href="/">Summoner School Flairs</a>
        <btn id="newSummonerModalBtn" class="btn btn-main mr-md-auto ml-1" data-toggle="modal"
             data-target="#modalNewSummoner">New Summoner
        </btn>
        <h6 class="mr-3 mt-1 font-weight-light text-light"
            th:text="${#authentication.getUserAuthentication().getDetails().get('name')}"></h6>
        <a class="btn btn-main btn-md btn-danger" href="/logout">Log out</a>
    </div>
    <!-- Card container -->
    <div id="cardsContainer" class="row w-100 pl-4">
    </div>

    <!-- Footer -->
    <footer class="footer d-flex flex-row-reverse w-100 p-2 mt-auto">
        <p class="mr-1 mb-0">Report issues to:
            <img src="images/discord-white.png" height="20" width="20"> Thorasine#4073
            <img src="images/reddit-white.png" height="20" width="20"> /u/Thorasine</p>
    </footer>
</div>

<!-- New Summoner Modal -->
<div id="modalNewSummoner" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Register Summoner</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form id="newSummonerForm" action="#" th:object="${user}" method="post">
                <!-- Modal body -->
                <div class="modal-body">

                    <div class="form-group">
                        <label for="summonerName">Summoner Name</label>
                        <input th:field="*{summonerName}" type="text" class="form-control" id="summonerName">
                    </div>
                    <div class="form-group mb-0">
                        <label for="region">Region</label>
                        <select th:field="*{server}" class="form-control" id="region">
                            <option th:value="'NA'">NA</option>
                            <option th:value="'EUW'">EUW</option>
                            <option th:value="'EUNE'">EUNE</option>
                            <option th:value="'BR'">BR</option>
                            <option th:value="'LAN'">LAN</option>
                            <option th:value="'LAS'">LAS</option>
                            <option th:value="'JP'">JP</option>
                            <option th:value="'KR'">KR</option>
                            <option th:value="'OCE'">OCE</option>
                            <option th:value="'RU'">RU</option>
                            <option th:value="'TR'">TR</option>
                        </select>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer align-items-center">
                    <p id="newSummonerErrorText" class="text-danger mb-0"></p>
                    <button id="newSummonerBtn" class="btn btn-main btn-primary" disabled="true">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Validation required modal -->
<div class="modal fade" id="modalValidate">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Validate Summoner</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p class="mb-0">To validate <strong id="validationModalTexts">Garbage (EUW)</strong>, <a
                        href="#validationExampleCollapse" id="videoExampleToggle" data-toggle="collapse">set your
                    third-party validation code</a> to the following:</p>
                <blockquote id="validationCodeText" class="blockquote text-center">82BOX</blockquote>
                <p>Once your code is set, validation will typically happen in an hour or two.</p>
                <div id="validationExampleCollapse" class="collapse">
                    <p><strong>Settings > Verification ></strong> set the code then hit <strong>Save</strong>. It might
                        take a few tries. If you keep getting an error, restart your LoL client. If you mistyped and
                        saved it, you have to restart your client and re-type it.</p>
                    <video id="verificationVideo" width="465" autoplay="autoplay" loop="lopp">
                        <source src="/video/verification.mp4" type="video/mp4"/>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Deletion confirm modal -->
<div id="deleteSummoner" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Delete Summoner?</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p>Are you sure you want to delete <strong id="deleteSummonerTexts">Garbage (EUW)</strong>?</p>
                <div class="d-flex justify-content-end align-items-center">
                    <p id="deleteSummonerErrorText" class="text-danger mb-0 mr-2"></p>
                    <btn id="deleteConfirmBtn" class="btn btn-main btn-sm btn-danger">Delete</btn>
                    <btn class="btn btn-main btn-sm btn-secondary mr-0 ml-1" data-dismiss="modal">Cancel</btn>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>