<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="utf-8"/>
        <title>Falirbot Alpha</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width" />
        <base href="/"/>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container" sec:authorize="!isAuthenticated()">
            <div>
                Login with Reddit: <a class="btn btn-primary" href="/login">Log in</a>
            </div>
        </div>
        <div class="container" sec:authorize="isAuthenticated()">
            Logged in as: <span ng-bind="home.user"></span>
            <div>
                <a class="btn btn-primary" href="/loout">Logout</a>
            </div>
        </div>
        
        <div sec:authorize="hasRole('USER')">Text visible to user.</div>
        <div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>
        <div sec:authorize="isAuthenticated()">
            Text visible only to authenticated users.
        </div>
        Authenticated username:
        <div sec:authentication="name">testestest</div>
    </body>
</html>