<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="utf-8"/>
        <title>Flairbot Alpha</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container" sec:authorize="!isAuthenticated()">
            <div>
                Sign in with Reddit: <a class="btn btn-primary" href="/login">Log in</a>
            </div>
        </div>
        <div class="container" sec:authorize="isAuthenticated()">
            Logged in as:
            <span th:text ="${#authentication.getUserAuthentication().getDetails().get('name')}"></span>
            <form th:action="@{/logout}" method="post"> 
                <input class="btn btn-primary" type="submit" value="Logout"/> 
            </form>
            <div sec:authorize="hasRole('USER')">Text visible to user.</div>
            <div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>
            <div sec:authorize="isAuthenticated()">
                Text visible only to authenticated users.
            </div>
        </div>
    </body>
</html>