<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="utf-8"/>
        <title>Flairbot Alpha</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.2.1/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/index.css" />
        <!-- <link rel="stylesheet" href="/webjars/font-awesome/5.7.2/css/all.css" /> -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <!-- 2 hours wasted to learn that the order of js imports are important apparently -->
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="/webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    </head>
    <body>



        <!-- Containers -->
        <div id="container" class="d-flex flex-column">
            <!-- Header bar -->
            <div class="d-flex bg-dark border-bottom shadow p-2 px-md-4 mb-3 align-items-center">
                <a class="navbar-brand text-light" href="/">Summoner School Flairs</a>
                <btn id="newSummonerModalBtn" class="mr-md-auto ml-1 btn btn-success" data-toggle="modal" data-target="#modalNewSummoner">New Summoner</btn>
                <h6 class="mr-3 mt-1 font-weight-light text-light" th:text="${#authentication.getUserAuthentication().getDetails().get('name')}"></h6>
                <a class="btn btn-md btn-danger" href="/logout">Log out</a>
            </div>
            <!-- Card container -->
            <div id="cardsContainer" class="row w-100 pl-4">
            </div>

            <!-- Footer -->
            <footer class="footer d-flex flex-row-reverse w-100 bg-dark p-2 mt-auto">
                <p class="text-muted mr-1 mb-0">Got bugs? Discord: Thorasine#4073, Reddit: /u/Thorasine</p>
            </footer>
        </div>

        <!-- New Summoner Modal -->
        <div id="modalNewSummoner" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add New Summoner</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <form id="newSummonerForm" action="#" th:object="${user}" method="post">
                        <!-- Modal body -->
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="summonerName">Summoner Name</label>
                                <input th:field="*{summonerName}" type="text" class="form-control" id="summonerName">
                            </div>
                            <div class="form-group">
                                <label for="region">Region</label>
                                <select th:field="*{server}" class="form-control" id="region">
                                    <option th:value="'EUNE'">EUNE</option>
                                    <option th:value="'EUW'">EUW</option>
                                    <option th:value="'NA'">NA</option>
                                    <option th:value="'BR'">BR</option>
                                    <option th:value="'LAN'">LAN</option>
                                    <option th:value="'LAS'">LAS</option>
                                    <option th:value="'JP'">JP</option>
                                    <option th:value="'KR'">KR</option>
                                    <option th:value="'OCE'">OCE</option>
                                    <option th:value="'RU'">RU</option>
                                    <option th:value="'TR'">TR</option>
                                </select>
                            </div>

                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <input id="newSummonerBtn" class="btn btn-primary" type="button" data-dismiss="//todo" value="Register" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Validation required modal -->
        <div class="modal fade" id="modalValidate">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h5 class="modal-title">Validate Summoner</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <p>To validate <strong>Garbage (EUW)</strong>, set your third-party validation code to the following:</p>
                        <blockquote class="blockquote text-center">82BOX</blockquote>
                        <p>Once your code is updated, validation will typically happen in an hour or two.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Deletion confirm modal -->
        <div id="deleteSummoner" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Summoner?</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <p>Are you sure you want to delete <strong id="deleteSummonerTexts">Garbage (EUW)</strong>?</p>
                        <div class="d-flex justify-content-end">
                            <btn id="deleteConfirmBtn" class="btn btn-sm btn-danger">Delete</btn>
                            <btn class="btn btn-sm btn-secondary mr-0 ml-1" data-dismiss="modal">Cancel</btn>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>