<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="utf-8"/>
        <title>Falirbot Alpha login</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width" />
        <base href="/"/>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container" sec:authorize="!isAuthenticated()">
            <div>
                Sign in with Reddit: <a class="btn btn-primary" href="/loginReddit">Log in</a>
            </div>
        </div>
        <div class="container" sec:authorize="isAuthenticated()">
            <div>
                You are already logged in!
            </div>
        </div>
    </body>
</html>