<!doctype html>
<html>
    <head>
        <title>Test</title>




    </head>
    <body>
        <div id="log"></div>
        <div>asdsda</div>

        <script src="https://cdn.jsdelivr.net/npm/noty@3.2.0-beta/lib/noty.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/noty@3.2.0-beta/lib/noty.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/noty@3.2.0-beta/lib/themes/nest.css">
        <script src="/js/test.js"></script>
    </body>
</html>